:root {
    --color-primary: #FFA800;
    --color-secondary: #EC9819;

    --ion-color-primary: #FFA800;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;

    --ion-color-secondary: #EC9819;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
}
